html, body {
    height: 2000px;
    width: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #d9d9d9, #847c77);
}

.loading-box {
    position: fixed;
    top: 50%;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    z-index: 9999; 
}

.loading-text {
    font-size: 18px;
    color: #333;
    top: 50%;
    text-align: center;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
}

.loading-animation {
    width: 300px;
    height: 300px; 
    top: 300px;
    background-image: url('./assets/race/loading.gif'); 
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0 auto; 
}

.page {
    height: 100vh; 
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(to bottom, #d9d9d9, #847c77)
}

.background-box {
    position: absolute;
    top: 320px;
    left: 0%;
    width: 710px; 
    height: 500px;
    background-color: #f2f2f2; 
    background-image: url('./assets/race/result.jpg');
    background-size: cover;
    border: 10px solid #000000;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

  }

.result {
    position: absolute;
    background-color: #f0f0f0;
    width: 730px;
    left: 0%;
    top: 3px;
    font-family: monospace;
    font-weight:bolder;
    font-size:xx-large;
    text-align: center;
}

.output-table {
    position: absolute;
    top: 60px;
    left: 0%;
    align-items: center;
    width: 730px;
    border: 1px solid #000000;
    border-collapse: collapse;
    table-layout: fixed;
  }
 
.output-table th {
    width: 500px;
    border: 3px solid #ccc;
    padding: 8px; 
    background-color: #2a1d1d;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    color: #fff;
}
  
.output-table td {
    max-width: 700px;
    border: 1px solid #ccc;
    padding: 8px; 
    background-color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.output-path {
    max-width: 900px;
    background-color: #f0f0f0;
    position: absolute;
    top: 400px;
    left: 0.5%;
    width: 720px;
    border: 1px solid #000000;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    overflow-x: auto;
}

.output-path th {
    max-width: 900px;
    width: 800px;
    border: 3px solid #ccc;
    padding: 8px; 
    background-color: transparent #2a1d1d;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    color: #000000;
}

.output-path td {
    border: 1px solid #ccc;
    padding: 8px; 
    background-color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}


.output-duration {
    align-self: center;
    position: absolute;
    top: 300px;
    left: 15%;
    width: 500px; 
    height: 100px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
    overflow: auto; 
    background-color: #f9f9f9;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
  }
  
.error-warning {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ba1616;
    color: #ffffff;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80%;
    text-align: center;
    z-index: 9999;
    font-family:monospace;
    font-size:x-large;
    transition: top 0.1s ease;
    
}


.result-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .result-box h2 {
    margin-top: 0;
  }
  
  .result-box p {
    margin: 0;
  }

.background-container {
    min-height: 100%;
    background: linear-gradient(to bottom, #d9d9d9, #847c77);
    font-family: 'Roboto', sans-serif;
}

.precise-title {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.precise-detail1 {
    width: 70px;
    height: auto;
    position: absolute;
    top: 250px;
    left: calc(50% - 460px);
}

.precise-detail2 {
    width: 820px;
    height: auto;
    position: absolute;
    top: 335px;
    right: calc(50% - 420px);
    z-index: 1;
}

.precise-detail3 {
    width: 70px;
    height: auto;
    position: absolute;
    top: 343px;
    right: calc(50% - 460px);
}

.precise-detail4 {
    width: 400px;
    height: auto;
    position: absolute;
    top: 470px;
    right: calc(50% - 200px);
}

.button-container {
    position: relative;
}

.button {
    background-color: #54534f;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e1e18;
}

.button_bfs {
    background-color: transparent;
    background-image: url('./assets/race/bfs1.png');
    background-size: cover;
    width: 220px;
    height: 180px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 70px;
}

.button_bfs:hover {
    background-image: url('./assets/race/bfs2.png');
}

.button_ids {
    background-color: transparent;
    background-image: url('./assets/race/ids1.png');
    background-size: cover;
    width: 220px; 
    height: 180px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 70px;
}

.button_ids:hover {
    background-image: url('./assets/race/ids2.png');
}

.button_go {
    position: absolute;
    top: 220px;
    background-color: transparent; 
    background-image: url('./assets/race/go1.png');
    background-size: contain; 
    width: 140px;
    height: 67px; 
    left: 39%;
    size-adjust: auto;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 70px;
}

.button_go:hover {
    background-image: url('./assets/race/go2.png'); 
}

.container {
    position: relative;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.centered {
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.centered-result {
    position: absolute;
    top: 50px;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
}

.input-container {
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    top: 335px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    z-index: 1000;
  }

.text-input {
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 630px;
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
    margin-bottom: 20px;
    z-index: 999;
    font-weight: bold;
}

.output-box {
    position: absolute;
    width: 41%;
    height: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    top: 30%; 
    left: 27%;
    transform: translateX(-50%);
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}
  
.output-box p {
    margin: 0;
}

.suggestions1 {
    position: absolute;
    top: 75px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 2px);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
  
.suggestions1 li {
    padding: 8px 16px;
    cursor: pointer;
    z-index: 1000;
    text-align: left;
}
  
.suggestions1 li:hover {
    background-color: #f0f0f0;
    z-index: 1000;
}

.suggestions2 {
    position: absolute;
    top: 170px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 2px); 
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    font-family: 'Courier New', Courier, monospace;
}
  
.suggestions2 li {
    padding: 8px 16px;
    cursor: pointer;
    z-index: 1000;
    text-align: left;
}
  
.suggestions2 li:hover {
    background-color: #f0f0f0;
    z-index: 1000;
}

.ready {
    top: 0px;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}