
.body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to bottom, #d9d9d9, #847c77);
}

.precise-meet {
    position: absolute;
    background-image: url('./meet.png');
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.button_biilly {
    position: relative;
    background-color: transparent;
    background-image: url('./biilyy.png');
    background-size: cover; 
    border: transparent;
    width: 210px;
    height: 250px;
    margin: 10px;
    top: 250px
}

.bout-container {
    position: relative;
    justify-content: center;
    top: 40px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw; 
    height: 100vh;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* Allow the buttons to wrap to a new line */
  }

.bout-centered {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button_biilly:hover {
    transform: scale(1.1);
}

.button_hira {
    position: relative;
    background-color: transparent;
    background-image: url('./hira.png');
    background-size: cover; 
    border: transparent;
    width: 210px;
    height: 250px;
    margin: 10px;
    top: 250px
}

.button_hira:hover {
    transform: scale(1.1);
}

.button_shulhy {
    position: relative;
    background-color: transparent;
    background-image: url('./shully.png');
    background-size: cover; 
    border: transparent;
    width: 210px;
    height: 250px;
    margin: 10px;
    top: 250px
}

.button_shulhy:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .button_biilly,
    .button_hira,
    .button_shulhy {
      flex-basis: calc(50% - 20px); /* Set the width to 50% for smaller screens */
    }
  }